# Node modules
node_modules/

# Build output
/dist/
/build/

/# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Chrome extension files
*.crx
*.pem

# Optional: Ignore the package-lock.json or yarn.lock if you're using Yarn and don't want to track them
# package-lock.json
# yarn.lock

# IDE/editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Temporary files
*.log
